*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Poppins', sans-serif;
}

body{
    /*background: url("/images/group.jpg") no-repeat;*/
    background-size: cover;
    background-color: brown; 
    /*justify-content: center;
    align-content: center;*/
    height: 100vh;
    background-position: center;  
}

h2{
    position: relative;
    color:white;
    font-size: 1.2em;
}

.loginbar{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.loginbar .contact-about a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 500;
    color: white;

}

.btnLogin-popUp{
    text-decoration: none;
    padding: 5px 5px;
    font-size: 1em;
    background: transparent;
    border-color: white;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.navbar{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px; 
}

.navbar a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 500;
    color: white;

}

.wrapper{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 440px;
    width: 400px;
    margin-top: 50px;
    background-color: brown;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease height 0.2s ease;
    z-index: 99;
    
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    position: absolute;
    width: 100%;
    padding: 40px;
    
}

.wrapper .form-box.login{
    transition: transform 0.18s ease;
    transform: translateX(0);
}

.wrapper .form-box h2{
    font-size: 2em;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;
    margin: 30px 0;
    color: #162938;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
}

.remember-forgot{
    font-size: 0.9em;
    color: #163289;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #163289;
    margin-right: 3px;
}

.remember-forgot a{
    accent-color: #163289;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #163829;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

}

.login-register{
    font-size: 0.9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
    

}

.login-register p a{
    color: #7b8a99;
    text-decoration: none;
    font-weight: 600;
   
}

.login-register p a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.wrapper .form-box.register{
    transform: translateX(400px);
    
}

.wrapper.active .form-box.login{
    transform: translateX(-400px);
    transition: transform 0.18s ease;
}

.wrapper.active .form-box.register{
    transform: translateX(0px);
    transition: transform 0.18s ease;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background:#162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}


.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1em;
    color: #163829;
    line-height: 57px;
}

.wrapper.active-popup{
    transform: scale(1);
    transition: transform 0.18s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

/* Dress picture codes */

.dress{
    width: 100%;
    height: 540px;
    margin-top: -470px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.dress-pic-1{
    position: relative;
    display: flex;
    height: 100%;
    width: 360px;
    justify-content: center;
    background: url("/images/Products/dress\ \(1\).webp");
}

.dress-pic-2{
    position: relative;
    display: flex;
    height: 100%;
    width: 550px;
    justify-content: center;
    background: url("/images/Products/dress\ \(2\).webp");
}

.dress-pic-3{
    position: relative;
    display: flex;
    height: 100%;
    width: 360px;
    justify-content: center;
    background: url("/images/Products/dress\ \(3\).webp");
}

